node_modules
# Keep environment variables out of version control
.env

/generated/prisma
/apps/api/prisma/dev.db
/apps/api/prisma/dev.db-journal
/apps/api/prisma/*.db*
apps/api/prisma/dev.db
apps/api/prisma/*.db*
